<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все Комиксы</title>
</head>
<body>
<h1>По запросу Все комиксы:</h1>
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Автор</td>
        <td>Год создания</td>
        <td>Стоимость</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${comics}">

        <td th:text="${c.id}"></td>
        <td th:text="${c.title}"></td>
        <td th:text="${c.author}"></td>
        <td th:text="${c.creationYear}"></td>
        <td th:text="${c.price}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>